.contact-form {
    place-items: center;
    border: 0.20rem solid rgb(45, 45, 45);
    border-radius: 3rem;
    padding: 1.7rem 2.5rem;
    background-color: rgb(241, 249, 255);
    margin: 2rem;
}

.contact-intro {
    margin-bottom: 2rem;
    text-align: center;
    max-width: 50rem;

}

.contact-elements {
    border: 0.20rem solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 50.25rem;
}

.contact-elements p {
    margin-left: 0;
    text-align: left;
    width: 100%;
}

.contact-elements input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(114, 115, 119);
}

.contact-elements textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(114, 115, 119);
    resize: vertical; /* This is to allow the space to scroll down when the text exceeds the established */
    margin-bottom: 1.5rem;
}

.contact-elements a {
    text-align: center;
    padding: 0.8rem 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.contact-elements a:hover,
.contact-elements a:focus {
    background-color: rgb(79, 84, 95);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/*MOBILE*/
@media(max-width:48rem) {/*768px*/

    .contact-form {

        margin: 0.5rem;
        padding: 0.5rem 0.5rem;

    }

    .contact-elements {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*DESKTOP*/
@media(min-width:64rem) {/*1024px*/

    .contact-elements {
        display: grid;
        grid-template-columns: 1fr;
    }

}