* {
    box-sizing: border-box;
    /*this is to tell the elements to be sized according to their border instead of their content*/
}


.grid {
    display: grid;
    /*establishes how I'm going to divide the layout of the screen*/
}

/*SMARTPHONE*/
@media(max-width:48rem) {

    /*768px*/
    header div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.2rem
    }

    .nav-desktop {
        display: none; 
    }

    .menu-mobile {
        display: grid;
        justify-items: center;
       
    }

    .nav-mobile {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1.5rem;
        padding: 2rem;
    
    }

    .footer-content {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0rem;
    }

    .footer-brand {
        grid-template-columns: 1fr;
        align-items: center;
        justify-self: center;
        margin: 0;
        text-align: center;
    }

    .footer-socials {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin-top: 0.2px;
    }
}

/*DESKTOP*/
@media(min-width:64rem) {

    /*1024px*/
    header div {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .menu-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 0rem;
        align-items: center;
        padding: 2rem;
    }

    .footer-brand {
        grid-template-columns: 1fr;
        align-items: center;
        justify-self: center;
        margin: 0;
        text-align: center;
    }

    .footer-brand p{
        font-size: 1.4rem ;
        margin:0rem;
    }

    .footer-socials {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        justify-self: end;
        margin: 0rem;
        align-items: center;
    }
}