body {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: rgb(169, 182, 209);
}
/*HEADER*/
header {
    background-color: rgb(5, 62, 185);
    color: rgb(255, 255, 255);
}

header div {
    align-items: center;
    justify-content: space-between; /* to put the logo to the left, the nav at the center and the socials at the right */
    padding: 0.3rem 1rem;
}

.biglogo:hover, .biglogo:focus{
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/*NAVIGATON*/
nav{
    justify-self: center;
}

nav a, .menu-mobile{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 3rem;
    font-size: 1.2rem;
}

.menu-mobile{
    font-size: 1rem;
    margin:0.5rem;
}


nav a:hover,
nav a:focus, .menu-mobile:hover, .menu-mobile:focus{
    color: rgb(24, 189, 255);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transform: scale(1.1); /*to change the size*/
}


/*TEXT*/
h1 {
    font-size: 5rem;
    margin:0rem;
}

h2, h3, h4, h5, p {
    margin: 1rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.1rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4{
    font-size: 1.6rem;
}

p, li{
    font-size: 1.3rem;
}

/*IMAGES*/
 img{
    max-width: 100%;
    height: auto; 
}
/*VIDEO*/
iframe{
    border: none;
    margin: 0rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    width: 100%;            /* Ocupa todo el ancho disponible en móvil */
    height: auto;           /* Suelta la altura fija */
    aspect-ratio: 16 / 9;   /* Mantiene la forma de cine/TV automáticamente */
    object-fit: cover;

}

/*FOOTER*/
footer {
    background-color: rgb(5, 62, 185);
    color: rgb(255, 255, 255);
}

/*SOCIALS' ICONS*/
.instagram:hover,
.instagram:focus {
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.linkedin:hover,
.linkedin:focus {
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.gmail:hover,
.gmail:focus {
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}







