.thank-you-message {
    place-items: center;
    justify-content: center;
    text-align: center;
    padding: 8rem 18rem;
    background-color: rgb(5, 62, 185);
}

.message-container {
    max-width: 80%;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 3rem;
    border: 0.20rem solid #0e0a0a;
    justify-items: center;
}

.message-container a {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2rem;
    display: block;
    margin: 0 auto;
    width: 10rem;
}

.message-container a:hover,
.message-container a:focus {
    background-color: rgb(79, 84, 95);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/*SMARTPHONE*/
@media(min-width:48rem) {/*768px*/
    .message-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
}

/*DESKTOP*/
@media(min-width:64rem) {/*1024px*/
    .message-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}

