
body{
    background-color: rgb(11, 98, 40);
}
section {
background-color: rgb(255, 255, 255);
border-radius: 3rem;
border-color: rgb(0, 0, 0);
border-width: 5rem;
}

.explanation{
    margin:3rem;
    padding: 0.6rem 0.5rem;
    
}

.canvas{
background-color:rgb(179, 232, 251);
margin-bottom: 0rem;
}
.axisLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.axis { 
    font-size: 16px;
}

.legend {
    font-size: 12px;
}

.y-axis text {
    transform: translateX(-10px);
    font-size: 16px;
}

.x-axis text {
    transform: rotate(-65deg) translateY(-8px) translateX(-65px);
    font-size: 16px;
}

.x-axis path {
    color: rgb(6, 64, 22);
    stroke-width: 10px;
}
.x-axis .tick line{
color: rgb(152, 107, 44);
}

h1{
    text-align: center;
}

p, li{
    font-size: 20px;
     max-width: 80%;
}


