body {
    background-color: rgb(237, 255, 235);
    margin: 1rem;

}

section {
    background-color: rgb(255, 255, 255);
    border: 5rem solid #333;
    border-radius: 3rem;
    border-color: rgb(0, 0, 0);
    border-width: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin: 2rem;
    padding: 1.7rem 5.5rem;

}

.explanation {
    margin: 3rem;

}

.axisLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.axis {
    font-size: 16px;
}

.legend {
    font-size: 12px;
}

.y-axis text {
    font-size: 16px;
}

.x-axis text {
    transform: rotate(-65deg) translateY(-8px) translateX(-65px);
    font-size: 16px;
}

.x-axis path {
    color: rgb(6, 64, 22);
    stroke-width: 10px;
}

.x-axis .tick line {
    color: rgb(94, 71, 40);
    stroke-width: 5px;
}

h1 {
    text-align: center;
}

p, li{
    font-size: 1.3rem ;

}