body {
    background-color: rgb(237, 255, 235);
    margin: 1rem;

}

section {
    background-color: rgb(255, 255, 255);
    border: 5rem solid #333;
    border-radius: 3rem;
    border-color: rgb(0, 0, 0);
    border-width: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin: 2rem;
    padding: 1.7rem 5.5rem;

}

.explanation {
    margin: 3rem;

}

.axisLabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

.axis {
    font-size: 16px;
}

.legend {
    font-size: 12px;
}

.y-axis text {
    font-size: 16px;
}

.x-axis text {
    transform: rotate(-65deg) translateY(-8px) translateX(-65px);
    font-size: 16px;
}

.x-axis path {
    color: rgb(6, 64, 22);
    stroke-width: 10px;
}

.x-axis .tick line {
    color: rgb(94, 71, 40);
    stroke-width: 5px;
}

h1 {
    text-align: center;
}

p,
li {
    font-size: 1.3rem;

}

.popUpWindow {
    position: absolute;
    text-align: left;
    padding: 2px;
    font-family: "Helvetica", sans-serif;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    ;
    border-radius: 3px;
    pointer-events: none;
    width: 270px;
    min-height: 20px;
}

.popUpWindow p {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica";
    color: rgb(0, 0, 0);
}

.report {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 124, 27);
    padding: 0.75rem 3.5rem;
    border-radius: 3rem;
    font-weight: bold;
}

.report:hover, .report:focus{
    background-color: rgb(55, 87, 50);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}