*{
    box-sizing:border-box;/*this is to tell the elements to be sized according to their border instead of their content*/
}


.grid{
    display:grid;/*establishes how I'm going to divide the layout of the screen*/
}

/*SMARTPHONE*/
@media(min-width:20rem) { /*768px*/
header div {
    display:grid;
    grid-template-columns: 1fr;
    gap:0.2rem
}

nav {
    
    grid-template-columns: 1fr;
    gap:0.2rem
}

.footer-content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0rem;
}

.footer-socials {
 grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.2px;
}
}

/*DESKTOP*/
@media(min-width:64rem) { /*1024px*/
header div {
    display:grid;
    grid-template-columns: auto 1fr auto;
}

.footer-content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0rem;
}

.footer-socials {
 grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.2px;
}
}