.services {
    border: 0.20rem solid rgb(45, 45, 45);
    border-radius: 3rem;
    padding: 1.7rem 2.5rem;
    margin-bottom: 2rem;
    background-color: rgb(241, 249, 255);
    margin: 2rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.services p {
    margin-top: 0.5rem;
    text-align: justify;
    margin: 3rem;

}

.services img {
    margin-bottom: 1.5rem;
}

/*SMARTPHONE*/
@media(min-width:48rem) {/*768px*/

    .content-services {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .services-post,
    .services-production,
    .services-technical {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

}

/*DESKTOP*/
@media(min-width:64rem) {/*1024px*/

    .content-services {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .services-post,
    .services-production,
    .services-technical {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

}