body{
    font-family: Helvetica, Verdana, sans-serif;
    margin: 3rem;
    background-color:rgb(186, 220, 202);
    padding: 0.75rem  7rem;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(40, 124, 27);
}

section {
    border: 2px solid #333; 
    border-radius: 3rem;    
    padding: 1.7rem 2.5rem;       
    margin-bottom: 2rem;
    background-color: rgb(229, 231, 229);
}

p{
    margin-bottom: 2rem;
    text-align: justify;
}

.a-sketch{
    margin-left: 3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 124, 27);
    padding: 0.75rem  3.5rem; 
    border-radius: 3rem; 
    font-weight: bold;
}

.a-sketch:hover, .a-sketch:focus{
    background-color: rgb(55, 87, 50);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

a{
    text-decoration: none;
    color:rgb(40, 124, 27);
}

a:hover, a:focus{
    color: rgb(255, 255, 255);
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}