*{
    box-sizing:border-box;
}

.grid{
    display:grid;
}

.grid.add-gutters{
    grid-column-gap:0.2rem;
    grid-row-gap: 0.2rem;
    grid-auto-flow:row;
}

/*To make the grid to adapt*/
@media(min-width:20rem){/*320px*/

    .grid.one-column{
        grid-template-columns: 1fr;
    }
}

@media(min-width:64rem){/*1024px*/

    .grid.four-column{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .grid.two-column{
        grid-template-columns: 1fr 1fr ;
    }


}
@media(min-width:120rem){/*1920px*/

    .grid.six-column{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

     .grid.two-column{
        grid-template-columns: 1fr 1fr;
    }

}